In [2]:
import pandas as pd

In [3]:
pd.DataFrame

pandas.core.frame.DataFrame

In [4]:
json_option_1 = [{'a':5, 'b':7, 'c': 9}, {'a': 8, 'b': 11, 'c':2}, {'a': 1, 'b':16, 'c': 13}]

In [6]:
df_option_1 = pd.DataFrame(json_option_1)
df_option_1

   a   b   c
0  5   7   9
1  8  11   2
2  1  16  13

In [8]:
print(df_option_1.index)

RangeIndex(start=0, stop=3, step=1)

In [9]:
df_option_1['a']

0    5
1    8
2    1
Name: a, dtype: int64

In [10]:
df_option_1.iloc[0]

a    5
b    7
c    9
Name: 0, dtype: int64

In [12]:
subset_df_option_1 = df_option_1

In [13]:
subset_df_option_1.to_csv('exampledf.csv')

In [14]:
ls

Untitled.ipynb                exampledf.csv
Vlasic_SystemsCheck.ipynb     in class 1-29.ipynb
cces_example_data.csv         subset_cces_example_data.csv

Dynamic, interactive data visualizations enhance engagement, facilitate exploration and understanding, enable customization, improve communication and promote accessibility. These qualities make them invaluable tools for effectively communicating data to diverse audiences. Like the reading says, "'Visual Information-Seeking Mantra': overview first, zoom and filter, then details-on-demand." The interactivity can make it more interesting and fun like a game to an audience that may not otherwise care, like Murray says as well.